<div class="cont">
    <div class="company-row row">
        <h3 class="text-center">This is your cart</h3>
          <div class="col-sm-3 home-company-box">
            <a class="title" href="/company/<%= company._id %>">aefha</a>
            <div class="company-info-wrapper">
            <strong><%= company.title %></strong>
            <img src="<%= company.image %>">
              <br>
              by <span class="light-text"><%= company._creator.username %></span><br>
              <span class="light-text description"><%= company.description %></span>
            </div>
          </div>

      </div>
</div>