<div class="cont">
    <div class="company-row row">
        <h3 class="text-center">You may be interested in...</h3>
        <% companies.forEach((company) => { %>
          <div class="col-sm-3 home-company-box">
            <img src="<%= company.image %>">
            <div class="company-info-wrapper">
              <a class="title" href="/company/<%= company._id %>">
                <strong><%= company.title %></strong>
              </a><br>
              by <span class="light-text"><%= company._creator.username %></span><br>
              <span class="light-text description"><%= company.description %></span>
            </div>
          </div>
        <%  }) %>
      </div>
</div>