<<<<<<< HEAD
<div class="container">
    <div class="row">
      <div class="col-sm-6 centered-form">
        <form action="/companies" method="post">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label for="category">Category</label><br>
            <select name="category" id="category">
              <% types.forEach((category) => { %>
                <option type="text" value="<%= category %>" class="form-control"><%= category %></option>
              <%  }) %>
            </select>
          </div>
          <div class="form-group">
            <button type="submit">Create Company</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
=======
<ul>
    <%companies.forEach(function(company){ %>
    <li>
        <a href="/company/<%=company._id%>">
            <h2>Titulo: <%=company.title%></h2>
        </a>
            <img width="100" src="<%=company.media[0] %>" alt="<%=company.title%>" >
            <h3>Price: $<%=company.price%></h3>
            <h4>Reviews:</h4>
            <%companies.forEach(function(company){ %>
                <%=reviews%>
            <%})%>
        </li>
        <%})%>
    </ul>
>>>>>>> 5f62ab505244f1ff5494f2d11e5f046a0d2bbae2
