<div class="cont">
<h1><%=company.title%></h1>
<p><%=company.description%></p>
<h4>$<%=company.price%></h4>
<h4><%=company.email%></h4>
<a href="<%=company.calendar%>">tu calendario</a>
<h3><%=company.media%></h3>

<p><a href="companies/edit">edit your company</a></p>

</div>

