<div class="cont">
<h1><%=company.title%></h1>
<p><%=company.description%></p>
<h4>$<%=company.price%></h4>
<h4><%=company.email%></h4>
<a href="<%=company.calendar%>">tu calendario</a>
<br>
<p>see our service in action!</p>
<figure>
<img src="<%=company.media%>">
</figure>
<br>
<a href="/user/booking">Book this service</a>
<p><a href="/companies/edit">edit your company</a></p>

</div>

